@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}


.caidan{
    position: fixed;
    left: 50px;
    top: 20px;
    z-index: 1;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color:#fff;
    font-size: 20px;
    background: rgba(0,0,0,.5);
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
#menu {
    display: none;
    position: fixed;
    left: 50px;
    top: 50px;
    width: 100px;
    z-index: 1;
    margin: 60px 0 0;
    padding: 0;
    list-style-type: none;
    /*overflow: hidden;*/
}

#menu li {
    margin-bottom: 10px;
    font: 14px "Microsoft Yahei";
}
#menu a {
    border-radius: 10px;
    display: block;
    width: 100px;
    /*border-radius:20px;*/
    padding: 10px 0;
    background-color: #fff;
    color: #383B4C;
    text-align: center;
    text-decoration: none;
}

#menu .active a {
    color: #fff;
    background-color: #383B4C;
}
#menu a:hover{
    color: #fff;
    background-color: #383B4C;
}
.box1{
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.box1z{
    overflow: hidden;
    width:70%;
    height:100px;
    background: rgba(0,0,0,.5);
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

.wenzi p{
    font-size: 45px;
    color:#fff;
    text-align: center;
    line-height: 100px;
}
.wenzi{
    /*animation: shangxia 8s infinite;*/
    /*overflow: hidden;*/
    text-align: center;
    width:100%;
    height:100px;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
}
.box2{
    background-image: url(../img/2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.box3{
    background-image: url(../img/3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.box4{
    background-image: url(../img/4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.box5{
    background-image: url(../img/aa.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*天气*/
.xinqing{
    position: absolute;
    top: 9%;
    right:16%;
    color: #9BE48B;
}
.xinqing h1:nth-child(1){
    margin-bottom: 12px;
}
.area {
    position: absolute;
    right: 14%;
    top: 25%;
    display: none;
    /*margin-top:55px;*/
}
.table1{
    position: absolute;
    right: 11%;
    top: 29%;
}
.table1 th{
    height: 40px;
    text-align: center;
    color: #D69C1E;
}
.table1 td{
    text-align: center;
    /*color: #D69C1E;*/
}
#toggle{
    background: #D69C1E;;
    height: 35px;
    border-radius: 5px;
    border: 0;
    width: 104px;
}
.label1{
    position: absolute;
    top: 39%;
    right: 3%;
}

label{
    display: block;
}
/*.change{*/
    /*position: absolute;*/
    /*right:206px;*/
    /*top:196px;*/
/*}*/

/*结束*/
.jinengbt{
    /*width: 16%;*/
    /*border-bottom: 1px solid #4c4c4c;*/
    /*margin-bottom: 50px;*/
}
.jineng{
    overflow: hidden;
}
.jineng h1{
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
/*进度*/
.skills{
    /*margin-top: 30px;*/
    width:100%;
    flex-grow:1;
    /*background: pink;*/
}
.skill1{
    width:33.3%;
    float:left;
    padding-top: 60px;
}
.skill2{
    margin-top: -500px;
}
.skill3{
    margin-top: -500px;
}
.skill4{
    margin-top: -500px;
}
.skill5{
    margin-top: 700px;
}
.skill6{
    margin-top: 700px;
}
.skill7{
    margin-top: 700px;
}
canvas{
    display: block;
    margin:0 auto;
}
.skill1 h3{
    width:100%;
    text-align: center;
    color:#fff;
    font-weight: 600;
    /*margin-top: 20px;*/
}
/*结束*/



.slide h1{
    text-align: center;
    color: #f8ffc2;
    font-size: 40px;
    margin-top: 15px;
}
.slide img{
    width:200px;
    height:200px;
}
.slide ul{
    width:1200px;
    margin: 0 auto;
}
.slide ul li{
    float: left;
    width: 20%;
    padding: 40px 0;
}
.slide ul li a{
    position: relative;
    width:200px;
    height:200px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.slide ul li a:hover .zhezhao{
    display: block;
}
.slide ul li h5{
    text-align: center;
    color:#fff;
    font-size: 20px;
    cursor: pointer;
}
.zhezhao{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background: rgba(21,33,13,.8);
    height:100%;
    display:none;
}
.zhezhao h5{
    font-size: 16px;
    text-align: center;
    line-height:200px;
}

.iconfont1{
    color: #fff;
    font-size: 50px;
    margin-top:30px;
}
.iconfont2{
    font-size: 30px;
}
.iconfont3{
    font-size: 45px;
    color:#fff;
    cursor: pointer;
}
.next{
    position: absolute;
    bottom:5px;
    right: 20px;
}
.tubiao{
    text-align: center;
    float: left;
    margin-top: 35px;
}

.clear:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}


.bannerbox{
    background: #282826;

}
.bannerbox{
    background-image: url(../img/0d6a7b010dcdb408972a6ab4fe6fac3b.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 600px;
    background-position: center bottom;

    position: relative;
}
.neikuan{
    width: 1200px;
    margin: 0 auto;
}
.bannerbox h1{
    font-size: 40px;
    color: #f4e679;
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
    bottom: 25px;
    text-align: center;
}
.neikuan>.daohan{
    height: 80px;
    background: #e2a763;
    padding: 0 30px;
    box-sizing:border-box;

    /*text-align: justify; 分散对齐*/
}

.neikuan>.daohan>a{
    line-height: 80px;
    float: left;
    /*margin-left: 155px;*/
    font-size: 22px;
    color:#060606;
}
.neikuan>.daohan>h1{
    line-height: 80px;
    float: left;
    /*margin-left: 85px;*/
    font-size: 24px;
    color:#060606;
}
.waikuan{
    background: #f4e679;
}
.waikuan1{
    background: #030303;

}
.waikuan>.neikuan>.daohan>h1:nth-of-type(2){
    display: none!important;
}

.neikuan .zi{
    font-size: 50px;
    position: absolute;
    left: 401px;
    top: 42px;
    color:#000;
}
.neikuan .zixia{
    width:500px;
    height: 120px;
    font-size: 25px;
    position: absolute;
    top: 18%;
    left: 20%;
    color: #FBC944;
}
.p1biao{
    position: absolute;
    top: 0px;
    left: -600px;
}
.p2biao{
    position: absolute;
    top: 44px;
    left: -600px;
}
.p3biao{
    position: absolute;
    bottom: 0;
    left:-600px;
}
.neikuan>.guanyuyou1{
    position: absolute;
    top: 48%;
    left: 13%;
}
.neikuan>.guanyuyou1>ul>li{
    width: 150px;
    height:40px;
    border-radius: 10px;
    background:#BB2024;
    color:#fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 40px;
}

.neikuan>.guanyuyou2{
    position: absolute;
    top: 48%;
    left:31%;
}
.neikuan>.guanyuyou2>ul>li{
    width: 200px;
    height:40px;
    border-radius: 10px;
    background:#FDC73E;
    color:#000;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 40px;
}
.myping{
    position: absolute;
    top: 55%;
    right: 2%;
    width: 50%;
    height: 31%;
}
.myping h5{
    position: absolute;
    top: 0;
    right:-500px;
    color:#000;
    font-size: 25px;
}
.myping .pkuai{
    position: absolute;
    top: 35px;
    left: 30px;
    border: 2px solid #BB2024;
    width: 95%;
    height: 80%;
}
.myping .pkuai p{
    color:#000;
    width:95%;
    /*height: 80%;*/
    padding: 13px 15px;
    line-height: 33px;
    overflow: hidden;
    /*text-overflow:ellipsis;*/
    /*white-space: nowrap;*/
}
.neikuan>.zuopinzi>h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 25px;
}

col{
    display: none!important
}


.sale-main{
    text-align:center;
    padding:85px 0;
}
.sale-left h3{
    color:#464646;
    font-size:2.35em;
    font-weight:700;
}
.sale-left p {
    color: #000000;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
    padding: 0 15%;
    margin-top: 9%;
}
.sale-btn{
    margin-top:30%;
}
.sale-btn a {
    color: #fff;
    padding: 10px 2.2em;
    background: #f25555;
    font-size: 2.1em;
    font-weight: 400;
    border: 2px solid #000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.sale-btn a:hover{
    background: #1d130f;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.sale-one{
    background:#f25555;
    padding:3em 0px;
}
.sale-one p{
    color:#fff;
    font-size:2em;
    font-weight:400;
    line-height:1.6em;
    padding:0 15%;
}
.sale-bottom-left input[type="text"] {
    /*width: 100%;*/
    color: #000;
    outline: none;
    font-family: 'Lora', serif;
    font-size: 20px;
    padding: 15px 15px;
    margin-bottom: 27px;
    border: none;
    -webkit-appearance: none;
    font-weight: 400;
    background: #fff;
}
.sale-bottom-right textarea {
    resize: none;
    background: url(../img/ell.png) no-repeat 106px 38px #fff;
    /*width: 100%;*/
    margin: 0 auto;
    color: #000;
    text-align: center;
    font-size: 23px;
    font-family: 'Lora', serif;
    outline: none;
    /*padding: 15px 15px;*/
    border: 2px solid #000;
    min-height: 9.3em;
    -webkit-appearance: none;
    font-weight: 400;
}
.sale-bottom {
    margin-top: 9%;
}
/* ---------- TIMER ---------- */
.countDays,.countHours,.countMinutes,.countSeconds {
    width: 9%;
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-right: 20px;
}
#counter {
    width: 92%;
    height: 160px;
    margin-left: 18%;
    font-size: 60px;
    color: #FFF;
    overflow: hidden;
}
.timer{
    border-top:2px ridge #5F5F5F;
    border-bottom:2px ridge #5F5F5F;
}
.timer h4{
    font-size: 14px;
    color: #E5E5E5;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 20px;
}
.countDays, .countHours, .countMinutes, .countSeconds {
    float: left;
    width: 21%;
    height: 64px;
}
.points {
    float: left;
    width:40px;
    margin: 0;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    line-height: 138px;
    text-shadow: none;
    color:#FFF;
    display: none;
}
.digit {
    position: absolute;
    top: 0;
    left:18px;
}
.boxName {
    float: left;
    width: 100%;
    font-size: 18px;
    color: #464646;
    font-weight: 500;
    clear: both;
    padding: 2px;
}
span.Days {
    padding-right: 18px;
}
span.Hours {
    margin-right: 0px;
}
span.Minutes {
    margin-right: 0px;
}
.Seconds {
    margin-right: 0px;
}
/* ---------- /TIMER ---------- */
.countDays {
    display: none;
}
.count {
    margin-top: 6%;
}
.box5-zuo{
    position: relative;
    left:-70%
}
.box5-you{
    position: relative;
    right:-70%
}

.biaopan{
    width:200px;
    height:200px;
    border:5px solid #f25555;
    margin:0 auto;
    border-radius:50%;
    position:absolute;
    z-index:9999;
    top:50%;
    left:22%;
    display:none;
    background-image:url(../img/t0183aa8c4ab2181822.gif);
    background-position:center;
    background-size:240px 240px;
}

/*中屏*/
@media screen and (max-width:1200px){
    .bannerbox>.neikuan{
        /*background-image: url(../img/ddd_03.jpg);*/

    }
    .neikuan{
        width: 100%;
        padding: 0 25px;
        box-sizing:border-box;
    }
    /*	.db{
        padding: 0 25px;
        box-sizing:border-box;
    }*/
    /*.waikuan>.neikuan>.daohan>a{
        margin-left: 60px;
        }
    .waikuan>.neikuan>.daohan>h1{
        margin-left: 100px;
        }*/


}


/*小屏*/
@media screen and (max-width:735px){
    .bannerbox>.neikuan{
        /*background-image: url(../img/ccc_03.jpg);*/

    }
    .waikuan>.neikuan>.daohan>a{
        display: none!important;
    }
    /*.waikuan>.daohan>.neikuan>a:nth-of-type(2){
        display:block;*/

    /*}*/
    /*.neikuan{
        width: 100%;
    }*/
    .waikuan>.neikuan>.daohan>h1{
        margin-left: 60px;
    }
    .waikuan>.neikuan>.daohan>h1:nth-of-type(2){
        display:block;

    }
    .neikuan{
        width: 100%;
    }

    .neikuan>.zibox>.zixia{
        margin-left: 3px;
    }
    .coll{
        display: block;
    }
}
