.dingbu{
	width: 1200px;
	height: 166px;
	margin: 0 auto;
/*	background: red;*/
}
.dingbugou{
	width:1200px;
	height: 90px;
}
.dingbugous{
	height: 57px;
	width: 1200px;

}
.imgche{
	float: right;
	padding-top: 20px;
	cursor: pointer;
}
.cheche{
	position: relative;
}
.cheche:hover .chelis{
	display: block;
}
.baikuai{
	width: 107px;
	height: 15px;
	background: #fff;
	position: absolute;
	right: 0px;
	bottom: 19px;
}
.chelis{
	width: 315px;
    height: 22px;
    padding: 5px;
    border: 1px solid #b81c22;
    position: absolute;
    top: 56px;
    right: 0;
    background: #ffffff;
    display: none;
}
.imgsou{
	float: right;
	margin-right: 50px;
	padding-top: 23px;
}
.biankuang{
	width: 251px;
	height: 30px;
	float: right;
	border: 1px solid #000;
	margin-top:24px;
	padding: 0 8px;

}
.GOU{
	margin-top: 24px;
	float: right;
	width: 107px;
	height: 31px;
	background: #c1383e;
	color: #fff;
	text-align: center;
	line-height: 31px;
	border: 1px solid #c1383e;
}
.GOU:hover{
	background: #fff;
	color:#c1383e;
}
.biankuangzi{
	line-height: 29px;
	 margin-left: 17px;
}
.dingbugoux{
	float: right;
	margin-right: 15px;
	margin-top: 10px;
	color: #727171;
}
.dingbufan{
	height: 76px;
	width: 1200px;
	/*background: red;*/
}
.dingbufanke{
	width: 234px;
	height: 76px;
/*	background: yellow;*/
	float: left;
}
.imglogo{
	margin-top: 10px;
	float: left;
}

.dingbuzi{
	width: 966px;
	height: 76px;
	float: left;
}
.dingbuzi a{
	display: block;
}
.souye{
	width: 66px;
	height: 19px;
	border-right: 1px solid #727171;
	float: left;
	margin-top: 35px;
}

.chenshan{
	position: relative;
	width: 66px;
	height: 19px;
	border-right: 1px solid #727171;
	float: left;
	margin-top: 35px;
	margin-left: 31px;
	color: #666;
}

.chenshanhezi span{
	width: 98px;
	height: 5px;
	display: block;
	background: #b81c22;
}
.chenshanhezi ul{
	text-align: center;
	font-size: 16px;
	width: 96px;
	border-right: 1px solid #727171;
	border-left: 1px solid #727171;
	border-bottom: 1px solid #727171;

}
.chenshanhezi ul li{
	margin-top: 10px;
	z-index: 1000;
	
}
.chenshanhezi ul li:hover{
	color:#b81c22; 
}
.chenshanhezi{
	position:absolute;
	top: 25px;
    left: -32px;
	background: #fff;
	width: 98px;
	z-index: 100;
	overflow: hidden;
	/*display: none;*/

}
.jjps{
	/*width: 66px;*/
	/*height: 19px;*/
	border-right: 0;
	/*float: left;*/
	/*margin-top: 35px;*/
	/*margin-left: 31px;*/
}



.banner{
	width: 1200px;
	height: 535px;
	margin: 0 auto;
	/*margin-top: 166px;*/
	position: relative;
}
.banner a{
		display: block;
		width: 1200px;
		height: 535px;
}
.banner a img{
	position: absolute;
	left: 0;
	top:0;
}
.zjt{
	width: 20px;
	height: 53px;
	background-image: url(../img/focus_lr0918.png);
	background-position: -2px -6px;
	position: absolute;
	left:13px;
/*  定位垂直居中*/
	top: 0;
	bottom: 0;
	margin:auto;
	/*鼠标样式*/
	cursor: pointer;
	z-index: 10;
}
.yjt{
	z-index: 10;

	width: 20px;
	height: 53px;
	/*背景图*/
	background-image: url(../img/focus_lr0918.png);
	/*调背景图位置*/
	background-position: 21px -6px;
	position: absolute;
	right:13px;
/*  定位垂直居中*/
	top: 0;
	bottom: 0;
	margin:auto;
	cursor: pointer;
}
.banner ul{
	width: 140px;
	height: 12px;
	/*background:blue;*/
	position: absolute;
	bottom:23px;
/*  定位水平居中*/
	left: 0;
	right: 0;
	margin:auto;
	z-index: 10;
}
.banner ul li{
	float: left;
	width: 12px;
	height: 12px;
	border-radius:100%;
	background:#DDD;
	margin: 0px 4px;
	

}
/*伪类选择器*/
.zjt:hover{
	background-position: -2px -68px;
}
.yjt:hover{
	background-position: 21px -66px;
}
.clear:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear:both;
}










.header{
	height: 32px;
	border-bottom: 1px solid #ccc;
	background: #f7f7f7;
}
.neikuan{
	width: 1200px;
	margin:0 auto;
}
.loginBox{
	width: 435px;
	height: 32px;
	/*background:red;*/
	float: right;
}
.welcome{
	/*width: 157px;*/
	font-size: 12px; /*字体大小*/
	float: left;
	height: 32px;
	/*浮动元素浮动后 宽度是由内容决定*/
	line-height: 32px; /* 行高*/
	color: #808080;
}
.dengzhu{
	/*width: 79px;*/
    height: 32px;
    float: left;
   /* background: yellow;*/
    margin-left: 0px;

}
.login{
	font-size: 12px;
	color:#808080;
	line-height:32px;
	float: left;
	margin-left: 15px;
}
.xian{
	width: 1px;
	height: 12px;
	background:#a0a0a0;
	float: left;
	margin-left: 8px;
	margin-top: 8px;
}
.zhuce{
       float-left;
       margin-left: 9px;
}
.gonggao{
	width: 90px;
	height: 32px;
	/*background: pink;*/
	float:left;
	font-size: 12px;
	color:#808080;
	line-height:32px; 
	margin-left: 8px;
}
.gonggaoimg{
	margin-top:7px;
	float:left;
	margin-right: 1px;
}
.gonggaocon{
	float:left;
}

.weixin{
	margin-top: 7px;
	float:left;
	cursor: pointer;
}
.weiwei:hover .daweixin{
	display: block;
}
.weibo{
	margin-top: 7px;
	float:left;
	cursor: pointer;
}
.weiwei{
	position: relative;
}
.daweixin{
	width: 150px;
	height: 171px;
	position: absolute;
	top:32px;
	right: 39px;
	z-index: 100;
	display: none;
}
.dingdan{
	float:left;
	font-size: 12px;
	margin-top:8px;
	margin-left: 5px;
	color: #808080;
}
.diyi{
	width: 1199px;
	height: 1334px;
	/*background:red;*/
	margin:0 auto;
}
.yi{
	width: 1199px;
	height: 130px;
	/*background: blue;*/
}
.wenzi{
	font-size: 17px;
	line-height: 130px;
	text-align: center;
	color: #b39a9a;
}
.tuyi{
	margin-right: 14px;
	float: left;
}
.tuer{
	margin-right: 0;
}
.dier{
	width: 1199px;
	height: 630px;
	/*background: red;*/
	margin:0 auto;

}

.yiyi{
	width: 1199px;
	height: 124px;
	/*background: blue;*/
}
.wenzier{
	font-size: 12px;
	line-height: 130px;
	text-align: center;
}
.erer{
	width:1199px;
	height: 506px;

	/*background: red;*/
}
.ereryi{
	width: 590px;
	height: 438px;
	float: left;
	border: 1px solid #e8e7ec;
}
.ereryiwen{
	width:590px;
	height: 68px;
	border: 1px solid #e8e7ec;
	border-top: 0px;
}
.maoshan{
	float: left;
	font-size: 14px;
	line-height: 63px;
	color: #333374;
	text-align: center;
}
.yuan{
	float: right;
	font-size: 14px;
	line-height:63px;
	color:red;
	text-align: center;
}
.ererer{
	width: 590px;
	height: 512px;
	float: right;
	margin-right: 10px;
	/*background: red;*/
	border: 1px solid #e8e7ec; 
}
.erereryi{
	width: 285px;
	height: 510px;
	border:1px solid #e8e7ec;
	float: left;
}
.erererer{
    width: 285px;
	height: 510px;
	border:1px solid #e8e7ec;
	float: right;
}
.img11{
	margin-top:90px;
}
.wz{
	margin-left: 20px;
	float: left;
}

.wzyuan{
	margin-right: 20px;
	float: right;
}
.wzz{
	margin-left: 20px;
	float: left;
}
.wzzz{
	margin-left: 20px;
	float: left;
	margin-top: 20px;
}
.wzzyuan{
	margin-right: 20px;
	float: right;
	margin-top: 20px;
}
/*.di{
	width: 1200px;
	height: 285px;*/
	/*background: red;*/
	/*margin:0 auto;
	margin-top: 49px;
	border: 1px solid #e0e0e1;
}*/
/*.tu{
	height: 198px;
}
.tu1{
	width:300px;
	border-right: 1px solid #e0e0e1;
	padding-top: 43px;
	padding-bottom: 103px;
	margin-left: 95px;
	float: left;

}
.tu2{
	width: 300px;
	border-right: 1px solid #e0e0e1;
	padding-top: 43px;
	padding-bottom: 103px;
	margin-left: 95px;
	float: left;
}
.tu3ju{
	width: 104px;
	height: 104px;
	margin-left: 70px;
}
.kuang{
	width: 155px;
	height: 33px;
	background: red;
	color: white;
	margin-left: 20px;
	margin-bottom: 42px;
	text-align: center;
	line-height: 32px;
}
.tu1ju{
	margin-left: 80px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.tu2ju{
    margin-left: 80px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.tu2wz{
	width: 156px;
	height: 32px;
	float: left;
	font-size: 15px;
	color: #727171;
	text-align: center;
	margin-left: 28px;
}
.tu3{
 	width: 300px;
	padding-top: 43px;
	padding-bottom: 103px;
	margin-left: 95px;
	float: left;
}
.tu3wz{
	margin-left: 50px;
}
.diwen{
	width: 1118px;
	height:56px;
	border: 1px solid #e0e0e1;
	background: #f8f8f8;
	margin-left: 40px; 
}
.wen1{
    width: 1118px;
	height:56px;
}*/
.dibu{
	width: 1200px;
	height: 285px;
	/*background: red;*/
	margin:0 auto;
	margin-top: 49px;
	border: 1px solid #e0e0e1;
	margin-bottom:27px;
}
.dibus{
	width: 1200px;
	height: 138px;
	/*background: yellow;*/
	margin-top: 33px;
}
.dibus1{
	width: 426px;
	border-right: 1px solid #e0e0e1;
	float: left;
}
.dibus1ren{
	margin-left: 208px;
	margin-right: 168px;
	margin-top: 39px;
}
.hk{
	width: 156px;
	height: 32px;
	background: #b81c22;
	margin-left: 148px;
	
}
.hkzi{
	margin-top: 15px;
	margin-left: 15px;
	color: #ffffff;
	line-height: 32px;
}
.sevenzi{
	text-align: center;
	margin-left: 45px;
	margin-top: 20px;


}
 .sevenzi2{
 	text-align: center;
	margin-left: 45px;
	margin-top: 15px;


 }
 .erweima{
 	width: 98px;
 	height: 98px;
 	margin-left: 100px;
	margin-right: 100px;
	margin-top: 30px;
	/*float: right;*/

 }
 .dibus2{
 	/*width: 426px;*/
	float: left;
 }
.dibus2zi{
	text-align: center;
}







 






.dibux{
	width: 1119px;
	height: 57px;
	margin:0 auto;
	background: #f8f8f8;
	margin-top: 30px;
}
.dibux1{
	width: 178px;
	border-right: 1px solid #dadadb;
	float: left;
	margin-top: 15px;
}
.dibux1zi{
   padding-left:65px;
   float: left;
   margin-top: 10px;
}





.jiewei{
	width: 1200px;
	height: 160px;
	border-top: 1px solid #3e3a39;
	margin: 0 auto;
	/*background: yellow;*/
}
.jieweizi{
	width: 1200px;
	height: 53px;
}
.jieweiziss{
	text-align: center;
	font-size:15px;
	margin-top: 10px;

}
.jieweizixx{
	text-align: center;
	font-size:15px;
}
.imgxin{
	margin-top: 40px;
	margin-right: 27px;
	margin-left: 147px;


}
.imgzhong{
	margin-top: 40px;
	margin-right: 27px;

}
.imgcctv{
	margin-top: 40px;
	margin-right: 27px;
	width: 119px;
	height: 39px;
}
.kefu{
	position: fixed;
	right: 11px;
	bottom: 50px;

}