.clear:after{
    content: "";
    width:0;
    height:0;
    display: block;
    clear:both;
}
.neikuan{
    width:1200px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 80px;
    background: #232227;
}
.logo{
    float: left;
    /*background-image: url(../img/LOGO.png);*/
    /*background-repeat: no-repeat;*/
    height: 80px;
    width: 183px;
    /*background-position: 10px -18px;*/
    /*background-size: 176px 125px;*/
    background:#000;
}
.logo img{
    width: 185px;
    height: 120px;
    margin-top: -15px;
}
.toubu{
    float: left;
}
.toubu li:hover .kuai{
    display: block;
}
.kuai{
    display: none;
    position: absolute;
    bottom: -3px;
    left: 0;
    width:100%;
    height: 5px;
    background: #d0892a;
}
.toubu2{
    background: #232227;
    float: right;
    width:525px;
    height:80px;
}
.toubu1{
    height: 80px;
    width: 492px;
    background: #232227;
}
.toubu li{
    position: relative;
    float: left;
    padding: 26px 47px;
}
.toubu li a{
    font-size: 20px;
    color:#fff;
    display: block;
}
.bannerbox{
    /*margin-bottom: 50px;*/
    height: 500px;
    position: relative;
}
.bannerbox:hover .zjt{
    display: block;
}
.bannerbox:hover .yjt{
    display: block;
}
.banner{
    height: 500px;
}
.banner a{
    display: block;
    width:1200px;
    height: 500px;
}
.banner li{
    height:500px;
    display: block;
    position: absolute;
    top:0;
    width:1200px;
    height: 500px;
    opacity: 0;
    transition: all 1s;
}
.banner a img{
    width:1200px;
    height: 500px;
}
.lunbodian{
    width: 220px;
    position: absolute;
    bottom:20px;
    left:0;
    right: 0;
    margin: auto;
    z-index: 9999;
}
.lunbodian li{
    margin-left: 15px;
    float: left;
    width: 40px;
    height:9px;
    background: #232227;
}
.zjt{
    cursor: pointer;
    z-index: 9999;
    display: none;
    position: absolute;
    top: 208px;
    width: 30px;
    height: 60px;
    text-indent: -99px;
    opacity: 0.7;
    background: url(../img/prevnext.png);
    background-repeat: no-repeat;
}
.zjt:hover{
    background-position: left bottom;
}
.yjt{
    cursor: pointer;
    z-index: 9999;
    display: none;
    position: absolute;
    top: 208px;
    right: 0px;
    width: 30px;
    height: 60px;
    text-indent: -99px;
    opacity: 0.7;
    background: url(../img/prevnext.png);
    background-repeat: no-repeat;
    background-position: right 0;
}
.yjt:hover{
    background-position: right bottom;
}
/*banner结束*/

.bannerxia{
    width:100%;
    height:80px;
    background: #d58a27;
}
.mianbaoxie{
    margin-left: 50px;
    width: 343px;
    height: 80px;
    background: #272626;
    padding: 25px 20px;
}
.mianbaoxie_zuo{
    float: left;
}
.hei{
    float: left;
    width: 5px;
    height: 37px;
    background: #fff;
    margin-right: 10px;
}
.shou{
    float: left;
}
.shou h1{
    font-size: 16px;
    color: #fff;
}
.shou h2{
    font-size: 14px;
    color: #fff;
}
.mianbaoxie_zhong{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.mianbaoxie_zhong span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
.mianbaoxie_zhong span:nth-child(2){
    background: #b8b5b5;
}
.mianbaoxie_zhong span:nth-child(3){
    background: #807e7e;
}

/*百科开始*/
.baike{
    margin-bottom: 150px;
}
.swenzi{
    text-align: center;
    padding: 40px 0;
}
.swenzi h1{
    margin-top: 5px;
    font-size: 20px;
    color: #272626;
    margin-bottom: 5px;
}
.swenzi h2{
    font-size: 18px;
    color: #272626;

}
.tiao{

    margin: 0 auto;
    width:80px;
    height:5px;
    background: #272626;
}
.stuwen{
    width:100%;
    height:470px;
    background: #272626;
    box-shadow: 1px 1px 20px #000;
}
.stuwenz{
    position: relative;
}
.stuwenz img{
    position: absolute;
    left:55px;
    top:-70px;
    transition: all 1s;
    cursor: pointer;
}
.stuwenz img:hover{
    transform: scale(1.1);
}
.stuweny{
    color:#dcd8d8;
    margin-left: 460px;
    width: 695px;
}
.timu{
    padding: 17px 0;
}
.timu h1{
    font-size: 18px;
    margin-bottom: 5px;
}
.timu h2{
    font-size: 16px;
    margin-bottom: 20px;
}
.ypbiao{
    line-height: 25px;
    margin-bottom: 40px;
}
.epbiao{
    width: 457px;
    line-height: 25px;
}
/*百科结束*/
/*赛事开始*/
.guowai{
    width: 400px;
    height:650px;
    background: #272626;
    color:#dcd8d8;
    padding: 15px 20px;
    font-size: 18px;
    float: left;
    position: relative;
    margin-left: 35px;
    box-shadow: 1px 1px 20px #000;
}
.saitimu a{
    color:#dcd8d8;
}
.guowai img{
    position: absolute;
    top: 75px;
    left: -40px;

}
.guowai p{
    margin-top: 347px;
    font-size: 14px;
    line-height: 25px;
    /*text-align: center;*/
    width: 300px;
    margin-left: 23px;
}
.guowai2{
    float: right;
    margin-right: 35px;
}
/*赛事结束*/


.shang{
    cursor: pointer;
    width: 60px;
    height: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 20px;
    padding: 6px;
    display: inline-block;
}
.fenyedaohang span:hover{
    background: #d68c2b;
    color: #fff;
}
.fenyedaohang{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 700px;
    margin: 0 auto;
}
.fenyedaohang span{
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    border:2px solid #000;
    text-align: center;
    line-height: 26px;
}
.tiaozhuan{
    display: inline-block;
    color: #d68c2b;
    font-size: 16px;
}
.tiaozhuan input{
    width:40px;
    height: 30px;
}

/*底部*/
footer{
    height: 300px;
    background: #0e0d12;
}
.dibubiaoti{
    float: left;
    color:#d68c2b;
    padding-top: 25px;
}
.lianxi h1{
    font-size: 16px;
}
.lianxi h2{
    font-size: 16px;
}
.lianxi{
    display: inline-block;
    margin-left: 10px;
}
.logo2{
    display: block;
    margin-top: 80px;
}
.dibuz{
    margin-left: 225px;
    float: left;
}

.dibuz li{
    margin-top: 48px;
}
.dibuz li span{
    color:#c0babc;
    margin-left: 5px;
}
.dibuy{
    float: left;
}
.dibuy li{
    float: left;
    margin-left: 90px;
    margin-top: 52px;
}
.dibuy li h5{
    color:#c0babc;
    margin-top: 10px;
}

.picK{
    z-index: 9999;
    height:27px;
    font-size: 14px;
    position: absolute;
    border:2px solid #d88a26;
    padding: 0 2px;
    border-radius: 5px;
    background: #201f24;
    text-align: center;
    line-height: 23px;
    color:#fff;
}
